{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<h1>Game Board: {{ board.id }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'game:turn' board.id %}" method="post">
{% csrf_token %}
<ul>
    <li>Board Width: {{ board.width }}</li>
    <li>Board Height: {{ board.height }}</li>
    <li>Number of Mines: {{ board.numberOfMines }}</li>
</ul>
{% for tile in tiles %}
	{% if tile.x == 0 %}
	<div class="row">
	{% endif %}
		<div class="tile">
		{% if tile.revealed == False %}
			<img data-board="{{board.id}}" data-x="{{ tile.x }}" data-y="{{ tile.y }}" class="block unrevealed" src="http://www.rw-designer.com/icon-view/3077.png">
		{% elif tile.revealed == True and tile.mine == False %}
			<div class="block">{{tile.value}}</div>
		{% elif tile.revealed == True and tile.mine == True %}
			<img class="block" src="http://home.comcast.net/~supportcd/Icons/Minesweeper.jpg">
		{% elif tile.marked == True %}
			<img class="block" src="http://www.rw-designer.com/icon-view/3082.png">
		{% endif %}
		</div>
	{% if tile.x == 9 %}
	</div>
	{% endif %}
{% endfor %}
<input type="submit" value="Turn" />
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>