{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
<article class="container">
<h1>Game Board: {{ board.id }}</h1>
{% csrf_token %}
<h3>How to play:</h3>
<div>Click to reveal tile</div>
<div>Shift + Click to flag tile</div>
{% for tile in tiles %}
	{% if tile.x == 0 %}
	<div class="row">
	{% endif %}
		<div class="tile">
		{% if tile.revealed == False and tile.marked == True %}
			<img class="block" data-board="{{board.id}}" data-x="{{ tile.x }}" data-y="{{ tile.y }}" src="http://www.rw-designer.com/icon-view/3082.png">
		{% elif tile.revealed == False %}
			<img data-board="{{board.id}}" data-x="{{ tile.x }}" data-y="{{ tile.y }}" class="block unrevealed" src="http://www.rw-designer.com/icon-view/3077.png">
		{% elif tile.revealed == True and tile.mine == False %}
			{% if tile.value != 0 %}
			<span class="block">{{tile.value}}</span>
			{% else %}
			<span class="block"></span>
			{% endif %}
		{% elif tile.revealed == True and tile.mine == True %}
			<img class="block mine" src="http://home.comcast.net/~supportcd/Icons/Minesweeper.jpg">
		{% endif %}
		</div>
	{% if tile.x == 9 %}
	</div>
	{% endif %}
{% endfor %}

<a class="button large regular blue newgame">New Game</a>
</article>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>